*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html {
    height: 100vh;
} */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    height: 100vh;
}
div {
    width: 560px;
    margin: 0 auto;
}

div input {
    width: 100%
}

input[type="range"] {
    width: 480px;
}